:host {
  display: inline;
}
.dtinth-project-icon-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  pointer-events: none;
}
.dtinth-project-title-container[data-display-position='top-right']
  .dtinth-project-icon-frame {
  left: auto;
  right: 0;
}
.dtinth-project-icon-frame svg {
  width: 58px;
  height: 58px;
  color: #8b8685;
}
.dtinth-project-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
}
.dtinth-project-title-container[data-display-position='top-right']
  .dtinth-project-icon {
  left: auto;
  right: 12px;
}
.dtinth-project-title {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 16px;
  left: 60px;
  font: bold 20px/22px Arimo, sans-serif;
  color: #e9e8e7;
}
.dtinth-project-title-container[data-display-position='top-right']
  .dtinth-project-title {
  left: auto;
  right: 60px;
}
